* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: "dark_woods";
  src: url("fonts/dark_woods/In\ the\ deep\ dark\ woods.ttf") format("woff2");
  /* Add more font formats if needed, like ttf, svg, etc. */
}

body {
  color: white;
  background-color: black;
  font-family: "dark_woods";
  font-size: 3rem;
  letter-spacing: 2;
  overflow: hidden;
}

.viewport {
  display: grid;

  grid-template-columns: 1fr 1.5fr 1fr;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: top;
  
  background-image: url("/images/Hangman_background.png");
  /*background-color: white;*/
  background-size: cover;
  background-position: center bottom;
}



.image {
  grid-column: 1 / 2;
  align-self: end;
  
  background-image: url('/images/svg_gallows.svg');
  position: fixed;
  background-size: contain;
  width: 1000px;
  min-width: 500px;
  height: 600px;


  background-repeat: no-repeat;

  margin-top: 0;
  margin-left: 0;

  left: 100px;
  bottom: 120px;

  overflow: hidden;
}

.hangmanContainer {

  position: relative;
  height: 100%;
  width: 400px;

  left: 8%;
  top: 3%;

  overflow: hidden;

  animation: swinging 2s linear;
  animation-fill-mode: forwards;
  animation-play-state: paused;
  animation-iteration-count: infinite;
  transform-origin: top center;

}

.hangman {
  background-image: url('/images/svg_hangman_rope.svg');
  background-size: contain;
  background-repeat: no-repeat;
  position: relative;

  top: -100px;

  height: 100%;
  width: 100%;

  animation: hanging 0.4s cubic-bezier(0.5, 1.6, 0.4, 0.7);
  animation-play-state: paused;
  animation-fill-mode: forwards;

}

@keyframes hanging {
 
  0% {
    transform: translate(0,0);
  }

  /*25% {
    transform: translate(0, 200px);
  }

  75% {
    transform: translate(0, 190px);
  }*/

  100% {
    transform: translate(0, 100px);
  }
}

@keyframes swinging {
  0% {
    transform: rotate(0deg);
  }


  25% {
    transform: rotate(0.5deg);
  }

  50% {
    transform: rotate(0deg);
  }

  75% {
    transform: rotate(-0.5deg);
  }

  100% {
    transform: rotate(0deg);
  }
  
}


.container {
  grid-column: 2 / 3;

  text-align: center;
  line-height: 5rem;
  margin-top: 20%;
  z-index: 100;
}

.empty {
  grid-column: 3 / 4;
}

.arrayTextClass {
    font-size: 4rem;
}

.gameTextClass {
  font-size: 2.5rem;
}

.guessForm {
  font-size: 3rem;
}

input[type="text"] {
  font-size: 2rem;
  width: 4rem;
  font-family: "dark_woods";
  border-radius: 2rem;
  padding: 0 1rem;
  color: white;
  background-color: hsl(198, 80%, 9%);
  text-align: center;
}

#playWindButton {
  position: absolute;
  bottom: 50px;
  right: 100px;
  font-size: 3rem;
  color: hsl(198, 80%, 3%);
  border-radius: 2rem;
}

button {
  background-color: transparent;
  border: none;
}

input:focus {
    outline: none;
}
